body {
	background: #343a40;
	font-family: Verdana;
	color: #fff;
}

label {
	color: #6c757d;
	font-size: 15px;
}

hr {
	border-color: #343a40;
}

button {
	cursor: pointer;
	font-size: 40px;
	border-radius: 15px;
	border: 2px solid black;
}
button:hover {
	color: #fff;
	border-radius: 15px;
	font-size: 39px;
}

.tabla {
	border: 11px solid black;
	background: black;
	border-radius: 15px;
}

.pantalla {
	width: 517px;
	height: 100px;
	font-size: 70px;
	color: #fff; 
	text-align: right;
	border: 0px;
	border-radius: 15px;
}

.but {
	width: 100px;
	height: 100px;
	background: #6c757d;
}
.but:hover {
	background: linear-gradient(#545b62, #545b62, #545b62);
}


.btnEqual {
	width: 100px;
	height: 200px;
	background: #545b62;
}
.btnEqual:hover {
	background: radial-gradient(#007bff, #007bff, #007bff);
}


.butCero {
	width:204px; height:100px; background:#545b62;
}
.butCero:hover {
	background: radial-gradient(#007bff, #007bff, #007bff);
}